$color-primary: #04410e;
$color-primary-dark: darken(#04410e, 10%);
$color-primary-light: lighten(#04410e, 10%);

$color-secondary: #1f4b03;
$color-secondary-dark: darken(#1f4b03, 10%);
$color-secondary-light: lighten(#1f4b03, 20%);

$color-white: white;