@import "../../../sass/variables.scss";

.container{
    width: auto;
    height: auto;
    padding: 10px 20px 10px 20px;
    border-radius: 2.3rem;
    text-align: center;
    
    .labelBefore {
        font-weight: bold;
        padding: 10px;
    }
}